<nav style="background-color: #3CAB5B">
  <div class="fine">
    <h1 class="pata">Pata</h1><h1 class="shida">shida</h1>
  </div>
   
   <div class="contact">
    <h3>get us via:</h3> 
    <br>
    <h4>+254743515249</h4>
 </div>
   
   <ul class="navlist">
    <li><a href="https://github.com/Maureen-1998DEV" target="_blank"><i class="fab fa-github fa-2x" style="color: black;"></i></a></li>
    <li><a  href="#" target="_blank"><i class="fab fa-linkedin-in fa-2x"style="color: black;"></i></a></li>
    <li><a href="https://twitter.com/Maureen Ougo" target="_blank"><i class="fab fa-twitter fa-2x"style="color: black;"></i></a></li>
    <li><a href="https://www.facebook.com/Maureen Ougo" target="_blank"><i class="fab fa-facebook fa-2x"style="color: black;"></i></a>
    </li>
</ul>
</nav>
<app-navbar></app-navbar>
<app-register></app-register>
<router-outlet></router-outlet>
