<nav style="background-color: rgb(64, 172, 64)">
   <h1>Patashida</h1>
   <div class="contact">
    <h3>get us via:</h3> 
    <br>
    <h4>+254743515249</h4>
 

   </div>
   
   <ul class="navbar-nav left">
    <a class="nav-item nav-link ml-auto social" href="https://github.com/Maureen-1998DEV" target="_blank"><i class="fab fa-github"></i></a>
    <a class="nav-item nav-link ml-auto social" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a class="nav-item nav-link ml-auto social" href="https://twitter.com/Maureen Ougo" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="nav-item nav-link ml-auto social" href="https://www.facebook.com/Maureen Ougo" target="_blank"><i class="fab fa-facebook"></i></a>

</ul>
</nav>
<router-outlet></router-outlet>
