<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Agriproducts</a>
          </li>
        </ul>
  
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      
        <ul class="navbar-nav left">
          <a class="nav-item nav-link ml-auto social" href="https://github.com/Maureen-1998DEV" target="_blank"><i class="fab fa-github"></i></a>
          <a class="nav-item nav-link ml-auto social" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a class="nav-item nav-link ml-auto social" href="https://twitter.com/Maureen Ougo" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="nav-item nav-link ml-auto social" href="https://www.facebook.com/Maureen Ougo" target="_blank"><i class="fab fa-facebook"></i></a>
  
        </ul>
      </div>
        
          
        
    </div>
  </nav>
